@model Library_Management.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>No more users can be created</h1>


<hr />


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
